.row{
  .sidebar{
    width: 0px;

    @media #{$small}{
      position: fixed;
      background-image: url("../img/bg.jpg");
      background-repeat: repeat;
    }
    @media #{$medium}{
      width: 80px;
    }
    @media #{$large}{
      width: 150px;
    }  

  }
}